.card {
  padding: 16px;
  position: relative;
  text-align: center;
  border-radius: var(--rounded-sm);
  background-color: var(--light-color);
}

.details {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .details h4 {
    font-size: 14px;
  }
}
