.card {
  height: 100%;
  padding: 16px;
  position: relative;
  text-align: center;
  border-radius: var(--rounded-sm);
  background-color: var(--light-color);
}

.flex {
  display: flex;
  gap: 16px;
  border-bottom: 1px solid var(--gray-background);
}

.border {
  border: 1px solid var(--gray-background);
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add {
  cursor: pointer;
  width: 100%;
  padding: 10px 0;
  font-size: 12px;
  font-weight: 600;
  margin-top: 24px;
  background-color: transparent;
  border-radius: var(--rounded-md);
  border: 1px solid var(--light-border);
}

.padding {
  padding: 0 !important;
}

.visible {
  opacity: 1 !important;
  visibility: visible !important;
}

.gap {
  align-items: flex-start;
  gap: 16px;
}

@media only screen and (min-width: 1150px) {
  .longCard {
    min-height: 580px;
  }

  .shortCard {
    min-height: 440px;
  }

  .flex {
    min-height: 440px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1150px) {
  .longCard {
    min-height: 490px;
  }

  .flex {
    min-height: 460px;
  }
}

@media only screen and (max-width: 768px) {
  .longCard {
    min-height: 400px;
  }

  .flex {
    min-height: 0;
  }
}

@media only screen and (max-width: 480px) {
  .longCard {
    min-height: 360px;
  }

  .flex {
    min-height: 0;
  }
}
