@keyframes fade {
  0% {
    transform: scale(1) translateZ(-80px);
    opacity: 0;
  }
  100% {
    transform: scale(1.1) translateZ(0);
    opacity: 1;
  }
}

.box {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-bottom: 14px;
  border-radius: var(--rounded-xs);
}

.longHeight {
  max-height: 450px;
}

.shortHeight {
  max-height: 320px;
}

.fullWidth {
  width: 360px;
  max-height: 420px;
  overflow: hidden;
  position: relative;
}

.image {
  object-fit: cover;
}

.size {
  width: 100% !important;
  height: 100% !important;
}

.buttons {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1150px) {
  .longHeight {
    max-height: 400px;
  }
}

@media only screen and (min-width: 768px) {
  .box:hover .image {
    transition: all 0.3s;
    animation: fade 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }

  .fullWidth:hover .image {
    transition: all 0.3s;
    animation: fade 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .box {
    max-height: 280px;
  }

  .fullWidth {
    width: 200px;
    height: 200px;
  }
}

@media only screen and (max-width: 480px) {
  .box {
    max-height: 240px;
    margin-bottom: 10px;
  }

  .fullWidth {
    width: 140px;
    height: 140px;
  }
}
