.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.normalShow {
  visibility: visible;
  position: absolute;
  bottom: 5px;
}

.button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--rounded-xs);
  background-color: var(--light-color);
}

.button:hover {
  color: var(--light-color);
  background-color: var(--dark-color);
}

.primary {
  transition: all 0.2s;
  box-shadow: var(--shadow-dark);
}

.secondary {
  width: 40px;
  height: 40px;
  border: 1px solid var(--light-border);
}

@media only screen and (min-width: 1150px) {
  .normalWidth {
    visibility: hidden;
    position: absolute;
    bottom: 5px;
  }

  @keyframes slide-top {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-20px);
    }
  }

  .bag {
    animation: slide-top 0.3s ease 0.05s both;
  }

  .heart {
    animation: slide-top 0.3s ease 0.2s both;
  }

  .compare {
    animation: slide-top 0.3s ease 0.35s both;
  }

  .eye {
    animation: slide-top 0.3s ease 0.5s both;
  }
}

@media only screen and (max-width: 1150px) {
  .normalWidth {
    visibility: visible;
    position: absolute;
    bottom: 5px;
  }

  .small {
    width: 32px;
    height: 32px;
  }
}

@media only screen and (max-width: 768px) {
  .none {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .secondary {
    width: 28px;
    height: 28px;
  }
}
