.prices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.real {
  color: var(--gray-medium-color);
  text-decoration: line-through;
}

.final {
  color: var(--danger-color);
  font-weight: 600;
}

@media only screen and (max-width: 1150px) {
  .real {
    color: var(--gray-color);
  }
}
