.services {
  display: flex;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
}

.services span {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s;
}

.services span:hover {
  color: var(--purple-color);
}
