.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.reviewSlider {
  width: 50%;
  margin-left: 100px !important;
}

.imageSlider {
  width: 40%;
  text-align: center;
}

.image {
  border-radius: var(--rounded-sm);
}

.navigation {
  position: absolute;
  bottom: 80px;
  left: 98px;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: none;
  color: var(--dark-color);
  border-radius: var(--rounded-full);
}

@media only screen and (min-width: 768px) and (max-width: 1150px) {
  .navigation {
    left: 54px;
    bottom: 86px;
  }

  .reviewSlider {
    margin-left: 54px !important;
  }
}

@media only screen and (max-width: 768px) {
  .navigation {
    display: none;
  }

  .reviewSlider {
    width: 100%;
    margin-left: 40px !important;
    margin-right: 18px !important;
  }

  .imageSlider {
    display: none;
  }
}
