.link {
  transition: all 0.3s;
  padding-bottom: 2px;
  border-bottom: 1px solid var(--light-border);
}

.link:hover {
  color: var(--purple-color);
  border-color: var(--purple-color);
}

@media only screen and (max-width: 480px) {
  .link {
    font-size: 14px;
  }
}
