.sidebar {
  width: 380px;
  z-index: 999;
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.4s;
  background-color: var(--light-color);
}

.close {
  left: -380px;
}

.open {
  left: 0;
}

.header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light-border);
}

.header div {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 800;
}

.main {
  padding: 20px;
}

.main h3 {
  font-size: 20px;
  font-weight: 500;
}

.range {
  display: flex;
  align-items: center;
  gap: 20px;
}

.range span {
  padding: 8px 16px;
  border-radius: var(--rounded-xs);
  border: 1px solid var(--light-border);
}

@media only screen and (max-width: 480px) {
  .sidebar {
    width: 280px;
  }

  .header {
    padding: 10px;
  }

  .main {
    margin: 24px 10px 10px 10px;
    padding: 8px;
  }

  .range {
    font-size: 14px;
    gap: 14px;
  }
}
