.title {
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #ffefba, #ffffff);
}

@media only screen and (max-width: 768px) {
  .title {
    height: 96px;
  }
}
