.search {
  position: relative;
}

@media only screen and (min-width: 1150px) {
  .search:hover ul {
    opacity: 1;
    visibility: visible;
  }
}

@media only screen and (max-width: 1150px) {
  .search {
    padding: 0 10px;
  }

  .search ul {
    display: none !important;
  }
}
