.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  z-index: 999;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 340px;
  padding: 20px 0 20px 20px;
  overflow-y: auto;
  transition: all 0.4s;
  background-color: var(--light-color);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 28px;
  overflow-y: auto;
  padding-right: 20px;
}

.btn {
  width: 112px;
  font-size: 14px;
  font-weight: 600;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.help {
  font-size: 14px;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 10px;
}

.help a {
  display: inline-block;
  color: var(--dark-color);
  padding-bottom: 2px;
  border-bottom: 1px solid var(--dark-color);
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 20px;
}

.login {
  border-bottom: 1px solid var(--light-border);
}

.dropdowns {
  border-top: 1px solid var(--light-border);
  padding-top: 20px;
}

.close {
  left: -340px;
}

.open {
  left: 0;
}

@media only screen and (max-width: 480px) {
  .sidebar {
    width: 280px;
    justify-content: unset;
    gap: 30px;
  }

  .main,
  .footer {
    padding-right: 14px;
  }
}
