.list {
  padding-left: 28px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  border-left: 1px solid var(--light-border);
  overflow: hidden;
  transition: all 0.3s cubic-bezier(1, 0, 0, 1);
}

.open {
  max-height: 300px;
}

.close {
  max-height: 0;
}
